.videos
  padding-top: 30px
  place-items: center
  background: hsl(0, 0%, 10%)
  height: 100%

  &__wrapper
    display: flex
    align-items: center
    gap: 20px

  &__content
    margin-top: 60px
    display: grid
    grid-template-columns: repeat(4, 1fr)
    gap: 44px