.select

  &__list
    padding: 8px 9px
    width: 200px
    border: 1px solid $c-silver-chalice
    border-radius: 8px
    color: $c-white
    font-family: Montserrat
    font-size: 15px
    font-weight: 500
    line-height: normal
    background: hsl(0, 0%, 10%)

  &__element
    color: $c-white
    font-family: Montserrat
    font-size: 15px
    font-weight: 500
    line-height: normal