.select

  &__list
    padding: 8px 9px
    width: 200px
    border: 1px solid $c-silver-chalice
    border-radius: 8px
    color: $c-black
    font-family: Montserrat
    font-size: 12px
    font-weight: 500
    line-height: normal

  &__element
    color: $c-black
    font-family: Montserrat
    font-size: 12px
    font-weight: 500
    line-height: normal