.search
  display: flex
  align-items: center
  padding: 8px 9px
  border: 1px solid $c-silver-chalice
  width: max-content
  border-radius: 8px

  &__input
    margin-left: 8px
    color: $c-black
    font-family: Montserrat
    font-size: 12px
    font-weight: 500
    line-height: normal

    &::placeholder
      color: $c-silver-chalice
      font-family: Montserrat
      font-size: 12px
      font-weight: 500
      line-height: normal
